.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px magenta;
}

.note {
    color: black;
    font-size: 15px;
}

.copyright_footer {
    position: fixed;
    color: pink;
    bottom: 0px;
    background-color: purple;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
}